@import "tailwindcss";
:root {
  --background: #FFE6D4;
  --foreground: #E06B80;

  --primary: #CD2C58;
  --secondary: #FFEDC7;
  --accent: #FDACAC;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-open-sans);
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 0.8s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


